* { 
  margin: 0; 
  padding: 0; 
    
}

body {
  font: 1em sans-serif;
  background: #111;
}

h1  {
  text-align: center;
  text-transform: uppercase;
  color: #911;
  margin: 0 0 .5em 0;
  font-size: 2.5em;
}
    
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  
  padding: 1.5em;
}

.game {
  border: .5em solid #eee;
  box-shadow: .0 .0 1.35em rgba(225, 225, 225, .55);
}